.header
    background-color: #fff
    &-logo
        display: inline-flex
        flex-direction: row
        margin-top: 37px
        margin-bottom: 28px
        margin-left: 17px
        &_link-main
            text-decoration: none
            color: #606060
        &_text
            font-family: 'Bree Serif'
            font-size: 20px
        &_circle
            margin-right: 2px
        &_squad
            margin-right: 7px

.navigation
    font-family: Ubuntu, sans-serif
    font-size: 14px
    &-list
        display: flex
        flex-direction: row
    &-item
        margin-left: 4px
        margin-right: 4px
    &-link
        display: block
        padding-top: 39px
        padding-bottom: 33px
        padding-left: 16px
        padding-right: 16px
        color: #515862
        text-decoration: none
        &:hover
            background-color: #12a3d6
            color: #ffffff
